/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/
.md_touch .first_screen{
	background: url(../images/first_screen.png) 0 0 no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.md_touch .video_wrapper{
	display: none;
}
.md_touch .wow{
	visibility: visible !important;
	opacity: 1 !important;
	-webkit-animation-name: none !important;
    animation-name: none !important;
}
.md_touch .section_console .swiper-slide.swiper-slide-active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.md_touch .section_slider .d_none{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.md_touch .section_slider .fp-slidesNav,
.md_touch .section_slider  .fp-slides{
	display: none;
}
.md_touch .section_slider{
	display: table;
    table-layout: fixed;
    width: 100%;
}

@media only screen and (min-width: 768px){
	.swiper-pagination{
		visibility: hidden;
		opacity: 0;
	}
	.md_touch .slider_gallery  .fp-slides,
	.md_touch .slider_gallery .fp-slidesNav{
		display: none;
	}
	.md_touch .slider_gallery .d_none{
	    display: table-cell;
	    vertical-align: middle;
	    width: 100%;
	    height: 100%;
	}
	.md_touch .slider_gallery{
		display: table;
	    table-layout: fixed;
	    width: 100%;
	}
}
@media only screen and (max-width: 1366px) and (max-height: 768px){
	.menu_btn_box,
	#page_navigation{
		right: 15px;
	}
	.console_navigation{
		top: 75px;
	}
	.section_console2_img img{
		max-height: 450px;
	}
	.section_console2 .slide_text {
	    margin-top: 20px;
	}
	.slider_gallery .fp-tableCell,
	.section_console2 .fp-tableCell,
	.section_console2 .container,
	.touch_gallery .container, 
	.touch_gallery2 .container{
		padding-left: 30px;
		padding-right: 30px;
		max-width: 100%;
	}
	.touch_slide{
		max-width: 100%;
	}
}
@media only screen and (max-width: 1280px){
	.slide_imgright_mr-40{
		margin-right: 0;
	}
	.huge_img{
		margin-left: 0;
	}
}
@media only screen and (max-width: 1199px){
	.huge_img{
		margin-left: 0;
		width: 100%;
		height: auto;
	}	
	.huge_img_radius{
		top: -112px;
		right: -112px;
		bottom: -112px;
		left: -112px;
	}
	.slide_img{
		max-width: 400px;
	}
	.slide_imgright_mr135 {
	    margin-right: 80px;
	}
	.slide_text.pl35{
		padding-left: 0;
	}
	h2{
		font-size: 40px;
		line-height: 42px;
	}
	h2.mb33{
		margin-bottom: 20px;
	}
	.bullet_icon {
	    padding-left: 55px;
	}
	.bullet_icon:before {
	    left: 15px;
	    width: 25px;
	}
}

@media only screen and (max-width: 1024px){
	.md_touch .slider_gallery,
	.md_touch .section_slider{
		overflow: hidden;
	}
}

@media only screen and (max-width: 991px) {
	.slide_img {
	    max-width: 300px;
	}
	.slide_img img{
		max-height: 350px;
	}
	.slide_imgright_mr135 {
	    margin-right: 0;
	}
	.huge_img{
		margin-top: 0;
	}
	.tooltip_content {
	    padding: 28px 28px 25px 16px;
	    width: 350px !important;
	}
	.swiper-wrapper {
    	padding: 50px 0;
    }
}

@media only screen and (max-width: 767px) {
	#header{
		padding: 20px 46px 0;
	}
	.dg-navigation{
        display: none;
    }
	.menu_btn_box{
		top: 20px;
	}
	.slider_gallery .fp-slidesContainer{
		-webkit-transform: translate3d(0px, 0px, 0px) !important;
		   -moz-transform: translate3d(0px, 0px, 0px) !important;
		    -ms-transform: translate3d(0px, 0px, 0px) !important;
		     -o-transform: translate3d(0px, 0px, 0px) !important;
		        transform: translate3d(0px, 0px, 0px) !important;
	    width: 100% !important;
	    -webkit-transition: none !important;
	       -moz-transition: none !important;
	        -ms-transition: none !important;
	         -o-transition: none !important;
	            transition: none !important;
	    float: none !important;
	    position: static !important;
	}
	.slider_gallery .slide {
	    width: 100% !important;
	    display: block;
	    table-layout: inherit;
	    height: auto;
	    float: none;
	    padding: 20px 0 20px;
	}
	.slider_gallery .slide:last-child{
		padding-bottom: 35px;
	}
	.section_console .fp-tableCell,
	.section_console .resp-tabs-container{
		padding: 0;
	}
	.section_console2 .container{
		padding-left: 15px;
		padding-right: 15px;
	}
	.slider_gallery,
	.slider_gallery .fp-tableCell,
	.slider_gallery .fp-scrollable,
	.section_console .fp-tableCell,
	.section_console,
	.section_console .fp-scrollable,
	.section_console2,
	.section_console2 .fp-tableCell,
	.section_console2 .fp-scrollable,
	.section_slider,
	.section_slider .fp-tableCell,
	.section_form_box,
	.section_form_box .fp-tableCell,
	.section_form_box .fp-scrollable{
		height: auto !important;
	}
	.slider_gallery .fp-tableCell,
	.section_form_box .fp-tableCell{
		display: block;
	}
	.slide .animate {
	    -webkit-animation-name: none !important;
	    animation-name: none !important;
	}
	.slide_img{
		margin: 0 auto 40px;
		max-width: none;
		position: static;
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
		    -ms-transform: translateY(0);
		     -o-transform: translateY(0);
		        transform: translateY(0);
	}
	.huge_img1,
	.slider_gallery .fp-slidesNav,
	.slide_img2{
		display: none;
	}
	.slider_gallery{
		padding-top: 60px;
	}
	.slide2_f_right {
	    float: none;
	}
	.huge_img {
	    margin-left: auto;
	    margin-right: auto;
	    width: auto;
	    max-width: 330px;
	    margin-top: 40px;
	    margin-bottom: 75px;
	}
	.huge_img_radius {
	    top: -55px;
	    right: -55px;
	    bottom: -55px;
	    left: -55px;
	}
	.slide_img img{
		max-height: none;
	}
	.bullet_icon ,
	.section_console2 .fp-tableCell{
	    padding-left: 0;
	}
	.section_console2 .fp-tableCell{
		padding-right: 0;
	}
	.bullet_icon:before{
		display: none;
	}
	.bullet_icon .fz30{
		font-size: 21px;
		line-height: 28px;
		text-align: center;
	}
	[data-img="img_bg1"]{
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	    background-position: 50% 50%;
	}
	.dg-wrapper{
		width: 400px;
		height: 400px;
	}
	h2.resp-accordion {
		text-align: center;
		margin-bottom: 0;
	}
	h2.resp-accordion a{
		font-size: 20px;
		line-height: 22px;
		color: #6d6e71;
		padding: 10px 0;
	}
	h2.resp-accordion.resp-tab-active a{
		color: white;
	}
	h2.resp-accordion .resp-arrow{
		border: 5px solid transparent;
		border-bottom-color: #6d6e71;
		line-height: 42px;
		vertical-align: middle;
		margin-bottom: 10px;
	}
	h2.resp-accordion.resp-tab-active .resp-arrow{
		border-bottom-color: transparent;
		border-top-color: #fff;
		margin-bottom: 0;
	}
	.console_item img{
		max-height: 100%;
	}
	#page_navigation,
	.invisible_767{
		display: none;
	}
	.section_console2 .resp-tab-content-active{
		padding-top: 76px;
		padding-bottom: 20px;
	}
	.section_console2 .slide_text {
    	margin-top: 0px;
	}
	.section_slider{
		padding: 82px 0 63px;
		overflow: hidden;
	}
	.section_form_box{
		padding: 50px 0 30px;
	} 
	.section_console,
	.section_console2{
		padding: 82px 0 27px;
	}
	.section_slider .col-xs-12{
		padding-left: 0;
		padding-right: 0;
	}
	.form_title{
		margin-bottom: 40px;
		font-size: 16px;
		line-height: 24px;
	}
	.section_form {
	    margin-bottom: 30px;
	}
	.touch_gallery2 .container{
		width: 100%;
		padding: 0;
		display: block;
	}
	.touch_gallery2 .swiper-wrapper {
	    padding: 0;
	}
	.touch_gallery2 .row{
		margin: 0;
		display: block;
		
	}
	.section_console .swiper-slide.swiper-slide-active{
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
		    -ms-transform: translateY(0);
		     -o-transform: translateY(0);
		        transform: translateY(0);
	}
}

@media only screen and (max-width: 560px) {
	.tooltip_content {
	    width: 200px !important;
	}
	.dg-wrapper {
	    height: 380px;
	}
}
@media only screen and (max-width: 479px) {
	.main_menu>li>a {
	    font-size: 25px;
	}
	.form_title,
	.form_row {
		margin-bottom: 30px;
	}
	.form_row:last-child {
	    margin-top: 20px;
	    margin-bottom: 0;
	}
	.console_navigation a{
		margin: 0 10px;
	}
}

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================