/*====>>  Stylesheet Guide START  <<====*/
        

        /*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes main
            3.1.      TOUCH hacks
            3.2.      POSITIONS blocks (float:)
            3.3.      POSITIONS text (text-align:)
            3.4.      VERTICALLY align boxs (vertical-align:)
            3.5.      INDENTS Zero !IMPORTANT
            3.6.      POSITIONS (position:)
            3.7.      ZEROING float
            3.8.      DISPLAYS (dispay:)
            3.9.      LINKS And BUTTONS
            3.10.     HOVERS TRANSITION
            3.11.     TITLES
            3.12.     BACKGROUNDS
            3.13.     COLORS
            3.14.     GOOGLE FONTS
            3.15.     INSTALL FONTS
            3.16.     VISIBILITY
            3.17.     TEXTAFIELD (placeholder animation)
        3.5 MAIN MENU 
        4. HEADER
        5. CONTENT
        6. FOOTER 
        7. EASE RESPONSIVE TABS
        8. Animate 
        
        <<=========================================>>*/
        

/*====>>  Stylesheet Guide END    <<====*/




/*  <!-- 1. IMPORT Plugins and other CSS files 
============================================ --> */


        
        @import "../plugins/jquery.fullPage/jquery.fullpage.min.css";
        @import "../plugins/slider/swiper.css";
        @import "../css/animate.css";




/*  <!-- 2. DEFAULT Stylesheets 
============================================ --> */


    html,body{
        height: 100%;
        width: 100%;
    }
    body {
        font-family: 'proxima_nova_regular';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color:#000;
        -webkit-text-size-adjust: none;
        /* сглаживание шрифта начало */
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeSpeed;
        /* сглаживание шрифта финиш */
    }
    body>div:not([class]){
        /* display: none !important; */
        opacity: 0;
        visibility: hidden;
        z-index: -1 !important;
        background: transparent !important;
        color: transparent !important;
        width: 0 !important;
        height: 0 !important;
    }
    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }

    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    /* при выделении текста добавляется кастомный стиль  */
   
    ::selection{
        color: #fff;
        background-color: #0066cc;
    }

   ::-moz-selection{
        color: #fff;
        background-color: #0066cc;
    }

    /* !!! */

/*  <!-- 3. BASIC classes main 
============================================ --> */




        /*==========>>  3.1.      TOUCH hacks   <<==========*/


            input{
                -webkit-appearance: none;
                outline:none;
                border: 0;
            }
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*==========>>  3.2.      POSITIONS blocks (float:)   <<==========*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}


        /*==========>>  3.3.      POSITIONS text (text-align:)   <<==========*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*==========>>  3.4.      VERTICALLY align boxs (vertical-align:)   <<==========*/
        

            .val_md{vertical-align: middle;}
            .val_bt{vertical-align: bottom;}
            .val_bs{vertical-align: baseline;}
            .val_top{vertical-align: top;}
        

        /*==========>>  3.5.      INDENTS Zero !IMPORTANT   <<==========*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*==========>>  3.6.      POSITIONS (position:)   <<==========*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 99;
            }

            .z-i9{z-index: 9;}


        /*==========>>  3.7.      ZEROING float   <<==========*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after,
            .container:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}


        /*==========>>  3.8.      DISPLAYS (dispay:)   <<==========*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none{ display:none;}
            .d_t{
                display: table;
                width: 100%;
                height: 100%;
            }
            .d_tc{
                display: table-cell;
                vertical-align: middle;
            }



        /*==========>>  3.9.      LINKS And BUTTONS   <<==========*/


            * a,
            * button{
                cursor: pointer;
                border: none;
                text-transform: none;
                text-decoration: none;
                outline:none !important;
                display: inline-block;
                background-color: transparent;
                -webkit-border-radius: 0;
                        border-radius: 0;
            }
            [data-popup]{cursor: pointer;}
            
            [class*="btn_"]{
                font-size: 16px;
                line-height: 18px;
                text-align: center;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                text-decoration: none;
            }
            [data-btn-size="m"]{
                padding: 10.5px 35px;
            }


        /*==========>>  3.10.     HOVERS TRANSITION   <<==========*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*==========>>  3.11.     TITLES   <<==========*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                margin-bottom: 20px;
            }
           
            h2{
                font-family: 'proxima_nova_regular';
                font-size: 50px;
                font-weight: 400;
                line-height: 45px;
            }
            h3{
                font-size: 25px;
                line-height: 1.2;
            }
            h4{
                font-size: 24px;
                line-height: 1.2;
            }
            .fz30{
                font-size: 30px;
                line-height: 40px;
            }
            


        /*==========>>  3.12.     BACKGROUNDS   <<==========*/

            /* ===>  Custom backgrounds  <=== */
            
                    .bg_none{ background:none !important;}
                    .bg_white{background-color: #fff;}
                    .bg_black{background-color: #1d1d1d;}
                    .bg_grey{background-color: #f6f6f6;}
                    

            /* ===>  !!! End of Custom backgrounds !!!  <=== */


            .btn_red_bd{
                border: 2px solid #ed1c24;
                background-color: transparent;
            }
            .btn_red_bd:hover{
                border: 2px solid #ed1c24;
                background-color: #ed1c24;
                color: #fff;
            }

        /*==========>>  3.13.     COLORS   <<==========*/

            /* ===>  Custom color  <=== */
            
                    .white{ color: #FFF;}
                    .black{ color: #000;}
                    .grey{ color: #bcbec0;}

            /* ===>  !!! End of Custom color !!!  <=== */


        /*==========>>  3.14.     GOOGLE FONTS   <<==========*/
        

            .proxima_reg{font-family: 'proxima_nova_regular';}
            .proxima_black{font-family: 'proxima_nova_black';}


        /*==========>>  3.15.     INSTALL FONTS   <<==========*/
        
            @font-face {
                font-family: 'proxima_nova_regular';
                src: url('../font/proxima_nova_regular-webfont.eot');
                src: url('../font/proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
                     url('../font/proxima_nova_regular-webfont.woff2') format('woff2'),
                     url('../font/proxima_nova_regular-webfont.woff') format('woff'),
                     url('../font/proxima_nova_regular-webfont.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'proxima_nova_black';
                src: url('../font/proxima_nova_black-webfont.eot');
                src: url('../font/proxima_nova_black-webfont.eot?#iefix') format('embedded-opentype'),
                     url('../font/proxima_nova_black-webfont.woff2') format('woff2'),
                     url('../font/proxima_nova_black-webfont.woff') format('woff'),
                     url('../font/proxima_nova_black-webfont.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }


        /*==========>>  3.16.     VISIBILITY   <<==========*/
        

            .invisible{
                visibility: hidden;
                opacity: 0;
            }
            .visible{
                visibility: visible;
                opacity: 1;
            }
            .transparent{
                opacity: 0;
            }
            

        /*==========>>  3.17.     TEXTAFIELD (placeholder animation)   <<==========*/
        
            
            input.invalid,
            textarea.invalid,
            .jq-selectbox.invalid .jq-selectbox__select{
                border: 2px solid red;    
            }
            .error_message{
                color: red;
                position: absolute;
                top: 100%;
                left: 0;
            }

            /* chrome  */
            input::-webkit-input-placeholder{   
                transition: all 0.5s ease;
                color: #9b9b9b;
            }
            /* !!! */
            /* mozilla */
            input::-moz-placeholder{
                transition: all 0.5s ease;
                color: #9b9b9b;
            }
            input:-moz-placeholder{
                transition: all 0.5s ease;
                color: #9b9b9b;
            }
            /* !!! */
            /* microsoft */
            input:-ms-input-placeholder{
                transition: all 0.5s ease;
                color: #9b9b9b;
            }
            /* !!! */
            /* ======================== */
            /* focus chrome */
            input:focus::-webkit-input-placeholder{
                color:transparent;
            }
            /* !!! */
            /* focus mozilla */
            input:focus::-moz-placeholder{
                color:transparent;
            }
            input:focus:-moz-placeholder{
                color:transparent;
            }
            /* !!! */
            /* focus microsoft */
            input:focus:-ms-input-placeholder{
                color:transparent;
            }
            /* !!! */

            /*===  input end    ===*/
            
            /*===  textarea start  ===*/
            /* chrome */
            textarea::-webkit-input-placeholder{
                transition: all 0.5s ease;
                color: #9b9b9b;
            }
            /* !!! */
            /* mozilla */
            textarea::-moz-placeholder{
                transition: all 0.5s ease;
                color: #9b9b9b;
            }
            textarea:-moz-placeholder{
                transition: all 0.5s ease;
                color: #9b9b9b;
            }
            /* !!! */
            /* microsoft */
            textarea:-ms-input-placeholder{
                transition: all 0.5s ease;
                color: #9b9b9b;
            }
            /* !!! */
            /* ======================== */
            /* focus chrome */
            textarea:focus::-webkit-input-placeholder{
                color:transparent;
            }
            /* !!! */
            /* focus mozilla */
            textarea:focus::-moz-placeholder{
                color:transparent;
            }   
            textarea:focus:-moz-placeholder{
                color:transparent;
            }
            /* !!! */
            /* focus microsoft */
            textarea:focus:-ms-input-placeholder{
                color:transparent;
            }
            /* !!! */

            /*===  textarea end    ===*/


        .menu_btn_box {
            width: 26px;
            font-size: 0;
            line-height: 0;
            text-align: right;
            position: fixed;
            top: 33px;
            right: 46px;
            z-index: 10000;
        }
        .menu_btn {
            display: inline-block;
            padding: 0;
            width: 23px;
            height: 22px;
            position: relative;
        }
            .menu_btn span {
                width: 100%;
                background-color: #BCBEC0;
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                   -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                     -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                height: 2px;
                display: block;
            }
            .menu_btn span:before,
            .menu_btn span:after{
                content: "";
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #BCBEC0;
                -webkit-transition: background 0s 0.3s;
                transition: background 0s 0.3s;
                -webkit-transition-duration: .3s,.3s;
                transition-duration: .3s,.3s;
                -webkit-transition-delay: .3s,0s;
                transition-delay: .3s,0s;
            }
            .menu_btn span:before{
                top: -8px;
                -webkit-transition-property: top,-webkit-transform;
                transition-property: top,transform;
            }
            .menu_btn span:after{
                bottom: -8px;
                -webkit-transition-property: bottom,-webkit-transform;
                transition-property: bottom,transform;
            }

            .menu_btn.active span{
                background-color: transparent;
            }
            .menu_btn.active span:before{
                top: 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            .menu_btn.active span:after {
                bottom: 0;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            .menu_btn.active span:before,
            .menu_btn.active span:after{
                -webkit-transition-delay: 0s,.3s;
                transition-delay: 0s,.3s;
            }


/*  <!-- 3.5 MAIN MENU 
============================================ --> */            
    
    .main_menu_box {
        position: fixed;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.85);
        opacity: 0;
        visibility: hidden;
    }
    .main_menu_box.open {
        opacity: 1;
        visibility: visible;
        z-index: 9999;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

        .main_menu {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            text-align: center;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .main_menu>li:not(:last-child) {
            margin-bottom: 10px;
        }
        .main_menu>li>a {
            font-size: 30px;
            line-height: 50px;
            color: #fff;
            text-decoration: none;
        }
        .main_menu>li>a:hover{
            color: #eed1d1;
        }
                            
/*  <!-- 4. HEADER 
============================================ --> */


    #header {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        padding: 33px 46px 0;
        text-align: right;
    }
        .table_row{
            display: table;
            width: 100%;
            table-layout: fixed;
        }
            .table_row>* {
                display: table-cell;
                vertical-align: middle;
            }

            .fixed_title{
                color: #fff;
                width: 100%;
                text-align: center;
            }

    [data-label~="hideHelhp"] #header {
        /* opacity: 0;
        -webkit-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s; */
    }
        


/*  <!-- 5. CONTENT 
============================================ --> */


    #content {
        display: block;
        padding:0px 0px 0px 0px;
        position: relative;
        z-index: 9;
    }

        .section {
            color: #fff;
        }
        [data-label~="light"]{
            color: #000;
        }
        [data-label~="light"] .fixed_title{color: #939598;}

        #page_navigation {
            position: fixed;
            z-index: 99;
            right: 38px;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
            -webkit-transition: opacity 0.5s;
            -o-transition: opacity 0.5s;
            transition: opacity 0.5s;
        }
            #page_navigation li {
                cursor: pointer;
                color: #b2b2b2;
                width: 34px;
                text-align: center;
                -webkit-transition: color 0.5s;
                -o-transition: color 0.5s;
                transition: color 0.5s;
            }
            #page_navigation li a{
                display: inline-block;
                position: relative;
                width: 34px;
                height: 28px;
                line-height: 28px;
                text-align: center;
            }
            #page_navigation li:not(:last-child) {
                margin-bottom: 20px;
            }
            #page_navigation img{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
            [class*="nav_ico"]{
                opacity: 0;
                visibility: hidden;
            }
            [data-label~="light"] .nav_ico1/* ,
            [data-label~="dark"] */{
                opacity: 1;
                visibility: visible;
            }
            [data-label~="light"] #page_navigation li:hover .nav_ico1,
            [data-label~="light"] #page_navigation li.active .nav_ico1,
            [data-label~="dark"] #page_navigation li:hover .nav_ico2,
            [data-label~="dark"] #page_navigation li.active .nav_ico2{
                opacity: 0;
                visibility: hidden;
            }
            [data-label~="light"] #page_navigation li:hover .nav_ico2,
            [data-label~="light"] #page_navigation li.active .nav_ico2,
            [data-label~="dark"] #page_navigation li .nav_ico1,
            [data-label~="dark"] #page_navigation li:hover .nav_ico3,
            [data-label~="dark"] #page_navigation li.active .nav_ico3{
                opacity: 1;
                visibility: visible;
            }

            #page_navigation li.active a img, 
            #page_navigation li:hover a img{
                
            }

        [data-label~="hideHelhp"] #page_navigation {
            opacity: 0;
        }
        [data-label~="dark"] #page_navigation{

        } 

/* - - - - - - - - - - first_screen - - - - - - - - - - */

        .first_screen{
            background-position: 50% 50%;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            position: relative;
            text-align: center;
        }   
            .first_screen .fp-tableCell{
                vertical-align: bottom;
            }
            .video_wrapper{
                position: absolute;
                overflow: hidden;
                z-index: 1;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
            .first_screen:after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 8;
                height: 100%;
                width: 100%;
                display: block;
                background: rgba(0, 0, 0, 0.8);
            }
                .video {
                    min-width: 100%;
                    min-height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }

            .first_screen .container {
                position: relative;
                z-index: 99;
                margin-bottom: 200px;
            }

            .first_screen_logo{
                margin-bottom: 27px;
            }
            .first_screen_title{
                color: #a7a9ac;
            }
            .first_screen_anchor{
                text-align: center;
                vertical-align: middle;
                line-height: 72px;
                width: 72px;
                height: 72px;
                border: 1px solid #7f7e7e;
                -webkit-border-radius: 100%;
                        border-radius: 100%;
                display: inline-block;
                position: absolute;
                bottom: 69px;
                left: 0;
                right: 0;
                z-index: 99;
                margin: auto;
                cursor: pointer;
                overflow: hidden;
            }
            .first_screen_anchor:hover{
                border: 1px solid #ededed;
            }
                .first_screen_anchor img{
                    vertical-align: middle;
                    -webkit-transition: transform ease 0.5s;
                       -moz-transition: transform ease 0.5s;
                        -ms-transition: transform ease 0.5s;
                         -o-transition: transform ease 0.5s;
                            transition: transform ease 0.5s;
                } 
                .first_screen_anchor:hover img{
                    -webkit-transform: translateY(5px);
                       -moz-transform: translateY(5px);
                        -ms-transform: translateY(5px);
                         -o-transform: translateY(5px);
                            transform: translateY(5px);
                }
            
/* - - - - - - - - - -/ end of first_screen - - - - - - - - - - */

/* - - - - - - - - - - slider_gallery - - - - - - - - - - */

        .slider_gallery .slide{
            overflow: hidden;
        }
            .slide .animate,
            .touch_slide .animate{
                -webkit-animation-name: none;
                animation-name: none;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
                -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s;
            }
            .slide.active .animate.zoomIn2,
            .touch_slide.swiper-slide-active .animate.zoomIn2{
                -webkit-animation-name: zoomIn2;
                animation-name: zoomIn2;
            }
            .slide.active .animate.slideInleft,
            .touch_slide.swiper-slide-active .animate.slideInleft{
                visibility: visible !important;
                -webkit-animation-name: slideInLeft;
                animation-name: slideInLeft;
            }
            .slide.active .animate.slideInRight,
            .touch_slide.swiper-slide-active .animate.slideInRight{
                visibility: visible !important;
                -webkit-animation-name: slideInRight;
                animation-name: slideInRight;
            }

            .slide2_f_right{
                float: right;
            }
            [data-img="img_bg1"]{
                background: url(../images/image-bg.png) 100% 50% no-repeat;
                -webkit-background-size: auto 100%;
                     -o-background-size: auto 100%;
                        background-size: auto 100%;
            }
                .huge_img{
                    width: 329px;
                    height: 329px;
                    margin-left: 70px;
                    position: relative;
                    z-index: 2;
                    margin-top: -82px;
                    -webkit-border-radius: 100%;
                            border-radius: 100%;
                }
                .huge_img_radius{
                    content: "";
                    position: absolute;
                    display: block;
                    top: -149px;
                    right: -149px;
                    bottom: -149px;
                    left: -149px;
                    border: 1px solid #e6e7e8;
                    -webkit-border-radius: 100%;
                            border-radius: 100%;
                }
                .slide_text{
                    position: relative;
                    z-index: 5;
                }
                .bullet_icon{
                    position: relative;
                    padding-left: 100px;
                }
                .bullet_icon:before{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 17px;
                    left: 24px;
                    width: 46px;
                    height: 2px;
                    background-color: #000;
                }
                .pl35{padding-left: 35px;}
                .slide_img{
                    position: absolute;
                    top: 50%;
                    z-index: 1;
                    -webkit-transform: translateY(-50%);
                       -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                         -o-transform: translateY(-50%);
                            transform: translateY(-50%);
                    text-align: center;
                }
                [class*="slide_imgleft"]{
                    left: 0;
                }
                .slide_imgleft_ml-85{
                    margin-left: -85px;
                }
                [class*="slide_imgright"]{
                    right: 0;
                }
                .slide_imgright_mr-40{
                    margin-right: -40px;
                }
                .slide_imgright_mr135{
                    margin-right: 135px;
                }
        
        .touch_gallery,
        .touch_gallery2{
            height: 100%;
            width: 100%;
        }
        .touch_slide{
            overflow: hidden;
        }
        .touch_gallery .swiper-pagination,
        .touch_gallery2 .swiper-pagination{
            opacity: 1;
            visibility: visible;
            bottom: 25px;
        }
        .touch_gallery .swiper-pagination-bullet,
        .touch_gallery2 .swiper-pagination-bullet{
            width: 12px;
            height: 12px;
            margin: 0 8px !important;
        }
        .touch_gallery .swiper-pagination-bullet-active,
        .touch_gallery2 .swiper-pagination-bullet-active {
            background-color: #000;
            border-color: #000;
        }
        .touch_gallery .container,
        .touch_gallery2 .container,
        .touch_gallery2 .row,
        .touch_gallery .row{
            height: 100%;
        }
        .touch_gallery2 .container,
        .touch_gallery .row{
            display: table;
        }
        .touch_gallery2 .row{
            display: table-cell;
            vertical-align: middle;
        }
        .touch_gallery .container,
        .touch_gallery .row{
            position: relative;
        }
/* - - - - - - - - - -/ end of slider_gallery - - - - - - - - - - */

/* - - - - - - - - - - slider_console - - - - - - - - - - */

    .section_console{
        overflow: hidden;        
        position: relative;
    }
    .section_console:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 2;
    }
    .section_console_bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../images/Showcase-BurnFitness-FlexStrider-L.jpg) 0 0 no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        z-index: 1;
    }
    .section_console .swiper-container{
        position: relative;
        z-index: 3;
    }
        .console_navigation{
            position: absolute;
            top: 89px;
            left: 0;
            right: 0;
            z-index: 5;
            text-align: center;
        }
            .console_navigation a{
                font-size: 18px;
                line-height: 20px;
                color: #6d6e71;
                margin: 0 20px;
                border-bottom: 2px solid transparent; 
            }
            
            .resp-tab-item.resp-tab-active a,
            .console_navigation li.active a{
                color: #FFF;
                border-bottom: 2px solid #fff;
            }
                .console_item{
                    display: inline-block;
                    text-align: left;
                    -webkit-filter: grayscale(1);
                    filter: grayscale(1);
                    -webkit-transform: scale(0.7);
                       -moz-transform: scale(0.7);
                        -ms-transform: scale(0.7);
                         -o-transform: scale(0.7);
                            transform: scale(0.7);
                    -webkit-transition: all ease 0.8s;
                       -moz-transition: all ease 0.8s;
                        -ms-transition: all ease 0.8s;
                         -o-transition: all ease 0.8s;
                            transition: all ease 0.8s;
                }
                .section_console .swiper-slide{
                    text-align: center;
                }
                .section_console .swiper-slide.swiper-slide-active .console_item{
                    -webkit-filter: grayscale(0);
                    filter: grayscale(0);
                    -webkit-transform: scale(1);
                       -moz-transform: scale(1);
                        -ms-transform: scale(1);
                         -o-transform: scale(1);
                            transform: scale(1);
                    -webkit-transition: all ease 0.8s;
                       -moz-transition: all ease 0.8s;
                        -ms-transition: all ease 0.8s;
                         -o-transition: all ease 0.8s;
                            transition: all ease 0.8s;
                }
                .section_console .swiper-slide.swiper-slide-active {
                    -webkit-transform: translateY(100px);
                       -moz-transform: translateY(100px);
                        -ms-transform: translateY(100px);
                         -o-transform: translateY(100px);
                            transform: translateY(100px);
                    -webkit-transition: transform 0.8s ease 1s;
                       -moz-transition: transform 0.8s ease 1s;
                        -ms-transition: transform 0.8s ease 1s;
                         -o-transition: transform 0.8s ease 1s;
                            transition: transform 0.8s ease 1s;
                    z-index: 9;
                }
                .section_console.offsetAnimate .swiper-slide.swiper-slide-active {
                    -webkit-transform: translateY(0);
                       -moz-transform: translateY(0);
                        -ms-transform: translateY(0);
                         -o-transform: translateY(0);
                            transform: translateY(0);
                    -webkit-transition: transform 0.8s ease 1s;
                       -moz-transition: transform 0.8s ease 1s;
                        -ms-transition: transform 0.8s ease 1s;
                         -o-transition: transform 0.8s ease 1s;
                            transition: transform 0.8s ease 1s;
                }
                    .tooltip_box{
                        position: absolute;
                        opacity: 0;
                        visibility: hidden;
                        -webkit-transition: opacity ease 0.5s, visibility ease 0.5s !important;
                           -moz-transition: opacity ease 0.5s, visibility ease 0.5s !important;
                            -ms-transition: opacity ease 0.5s, visibility ease 0.5s !important;
                             -o-transition: opacity ease 0.5s, visibility ease 0.5s !important;
                                transition: opacity ease 0.5s, visibility ease 0.5s !important;
                    }
                    .swiper-slide.swiper-slide-active .tooltip_box{
                        opacity: 1;
                        visibility: visible;
                    }
                   .tooltip_left{
                       left: 15%;
                       top: 14%;
                   }
                   .tooltip_right{
                       right: 16%;
                       top: 35%;
                    }
                       .tooltip_btn{
                            width: 42px;
                            height: 42px;
                            line-height: 42px;
                            opacity: 0.9;
                            background-color: #ed1c24;
                            text-align: center;
                            cursor: pointer;
                            -webkit-border-radius: 50%;
                                    border-radius: 50%;
                            position: relative;
                            z-index: 2;
                       }
                       .tooltip_btn .flash_tool{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -webkit-transform: translateX(-50%) translateY(-50%);
                               -moz-transform: translateX(-50%) translateY(-50%);
                                -ms-transform: translateX(-50%) translateY(-50%);
                                 -o-transform: translateX(-50%) translateY(-50%);
                                    transform: translateX(-50%) translateY(-50%);
                            background-color: #ed1c24;
                            z-index: -1;
                            -webkit-border-radius: 50%;
                                    border-radius: 50%;
                            -webkit-animation-duration: 1s;
                            animation-duration: 1s;
                            -webkit-animation-fill-mode: both;
                            animation-fill-mode: both;
                        }
                        .tooltip_content{
                            position: absolute;
                            top: 50%;
                            opacity: 0;
                            visibility: hidden;
                            width: 420px;
                            background-color: rgba(255, 255, 255, 0.95);
                            -webkit-box-shadow: 0 16px 24px rgba(0, 0, 0, 0.21);
                            box-shadow: 0 16px 24px rgba(0, 0, 0, 0.21);
                            padding: 31px 23px 31px 34px;
                            color: black;
                            font-size: 14px;
                            line-height: 20px;
                            text-align: left;
                            -webkit-transition: all ease 0.5s;
                               -moz-transition: all ease 0.5s;
                                -ms-transition: all ease 0.5s;
                                 -o-transition: all ease 0.5s;
                                    transition: all ease 0.5s;
                        }
                        .tooltip_box.tooltip_left .tooltip_content{
                            margin-left: 17px;
                            left: 100%;
                            -webkit-transform: translateY(-50%) translateX(20px);
                               -moz-transform: translateY(-50%) translateX(20px);
                                -ms-transform: translateY(-50%) translateX(20px);
                                 -o-transform: translateY(-50%) translateX(20px);
                                    transform: translateY(-50%) translateX(20px);
                        }
                        .tooltip_box.tooltip_left .tooltip_content:before,
                        .tooltip_box.tooltip_right .tooltip_content:before{
                            content: "";
                            position: absolute;
                            top: 50%;
                            border: 10px solid transparent;
                            -webkit-transform: translateY(-50%);
                               -moz-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                 -o-transform: translateY(-50%);
                                    transform: translateY(-50%);
                        }
                        .tooltip_box.tooltip_left .tooltip_content:before{
                            left: -20px;
                            border-right-color: rgba(255, 255, 255, 0.95);
                        }
                        .tooltip_box.tooltip_right .tooltip_content:before{
                            right: -20px;
                            border-left-color: rgba(255, 255, 255, 0.95);
                        }
                        .tooltip_box.tooltip_right .tooltip_content{
                            right: 100%;
                            margin-right: 17px;
                            -webkit-transform: translateY(-50%) translateX(-20px);
                               -moz-transform: translateY(-50%) translateX(-20px);
                                -ms-transform: translateY(-50%) translateX(-20px);
                                 -o-transform: translateY(-50%) translateX(-20px);
                                    transform: translateY(-50%) translateX(-20px);
                        }
                        .tooltip_box.active.tooltip_left .tooltip_content,
                        .tooltip_box.active.tooltip_right .tooltip_content{
                            -webkit-transform: translateY(-50%) translateX(0px);
                               -moz-transform: translateY(-50%) translateX(0px);
                                -ms-transform: translateY(-50%) translateX(0px);
                                 -o-transform: translateY(-50%) translateX(0px);
                                    transform: translateY(-50%) translateX(0px);
                        }
                        .tooltip_box.active .tooltip_content{
                            opacity: 1;
                            visibility: visible;
                            z-index: 9;
                        }
                            
                        .tooltip_box.active .tooltip_btn .flash_tool{
                            -webkit-animation-name: flash_in;
                            animation-name: flash_in;
                            -webkit-animation-duration: 0.5s;
                            animation-duration: 0.5s;
                        }
                        .tooltip_box.no_active .tooltip_btn .flash_tool{
                            -webkit-animation-name: flash_out;
                            animation-name: flash_out;
                        }

                        /* flash_in  */
                        @-webkit-keyframes flash_in {
                          0% {
                            opacity: 0;
                            width: 42px;
                            height: 42px;
                          }

                          100% {
                            opacity: 0.5;
                            width: 62px;
                            height: 62px;
                          }
                        }
                        @keyframes flash_in {
                          0% {
                            opacity: 0;
                            width: 42px;
                            height: 42px;
                          }

                          100% {
                            opacity: 0.5;
                            width: 62px;
                            height: 62px;
                          }
                        }
                        /* flash_in end */
                        /* flash_out */
                        @-webkit-keyframes flash_out {
                          0% {
                            opacity: 1;
                            width: 62px;
                            height: 62px;
                          }
                          99% {
                            opacity: 0;
                            width: 100px;
                            height: 100px;
                          }
                          100% {
                            opacity: 0;
                            width: 1px;
                            height: 1px;
                          }
                        }
                        @keyframes flash_out {
                          0% {
                            opacity: 1;
                            width: 62px;
                            height: 62px;
                          }
                          99% {
                            opacity: 0;
                            width: 100px;
                            height: 100px;
                          }
                          100% {
                            opacity: 0;
                            width: 1px;
                            height: 1px;
                          }
                        }
                        /* flash_out end */
                            .tooltip_btn img{
                                vertical-align: middle;
                                -webkit-transition: transform ease 0.8s !important;
                                   -moz-transition: transform ease 0.8s !important;
                                    -ms-transition: transform ease 0.8s !important;
                                     -o-transition: transform ease 0.8s !important;
                                        transition: transform ease 0.8s !important;
                            }
                            .tooltip_box.active .tooltip_btn img{
                                -webkit-transform: rotate(45deg);
                                   -moz-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                     -o-transform: rotate(45deg);
                                        transform: rotate(45deg);
                            }

            .dg-wrapper .console_item.dg-transition{
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                -ms-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }

            .dg-navigation{
                width: 100%;
            }
                .dg-navigation .dg-prev,
                .dg-navigation .dg-next{
                    position: absolute;
                    top: 0;
                    bottom: 0px;
                    z-index: 1000;
                    cursor: pointer;
                    width: 25%;
                    height: 100%;
                }
                .dg-prev{
                    float: left;
                    left: 0;
                }
                .dg-next{
                    float: right;
                    right: 0;
                }

/* - - - - - - - - - -/ end of slider_console - - - - - - - - - - */

/* - - - - - - - - - - slider_console - - - - - - - - - - */

        .section_console2_img{
            text-align: center;
        }
        
        .section_console2_video{
            height: 249px;
            width: 100%;
            position: relative;
            line-height: 247px;
            text-align: center;
        }
        .slider_item_img{
            vertical-align: middle;
        }
        .section_console2 .slide_text{
            margin-top: 60px;
        }

/* - - - - - - - - - -/ end of slider_console - - - - - - - - - - */

/* - - - - - - - - - - slider - - - - - - - - - - */
    
        .slider_item_mini{
            height: 286px;
            line-height: 286px;
            background-color: #fff;
            text-align: center;
            overflow: hidden;
            position: relative; 
        }
            .slider_item_mini img,
            .slider_item_big img{
                vertical-align: middle;
                max-height: 100%;
            }
            .slider_item_big img{
                vertical-align: bottom;
            }
        .slider_video{
            position: relative;
        }
            .video_icon_play{
                position: absolute;
                background-color: rgba(0, 0, 0, 0.7);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 4;
                cursor: pointer;
            }
            .video_icon_play img{
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translateX(-50%) translateY(-50%);
                   -moz-transform: translateX(-50%) translateY(-50%);
                    -ms-transform: translateX(-50%) translateY(-50%);
                     -o-transform: translateX(-50%) translateY(-50%);
                        transform: translateX(-50%) translateY(-50%);
                display: block;
                z-index: 5;
            }
            .video_icon_play:hover img{
                opacity: 0.8;
            } 
            .video_frame{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                width: 100% !important;
                height: 100% !important;
            }
            .slider_video.active .video_frame{
                z-index: 9;
            }
    
        .slider_item_big{
            height: 577px;
            background-color: #fff;
            text-align: center;
            line-height: 577px;
            overflow: hidden;
            position: relative; 
        }
            

/* - - - - - - - - - -/ end of slider - - - - - - - - - - */

/* - - - - - - - - - - form - - - - - - - - - - */
    
        .form_title{
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 59px;
        }
            .section_form{
                margin-left: auto;
                margin-right: auto;
                float: none;
                margin-bottom: 99px;
            }
                .form_row{
                    position: relative;
                    margin-bottom: 36px;
                }
                .form_row:last-child{
                    margin-top: 45px;
                    margin-bottom: 0;
                }
                    .form_label{
                        color: #808285;
                        font-size: 16px;
                        line-height: 36px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        -webkit-transition: all ease 0.5s;
                           -moz-transition: all ease 0.5s;
                            -ms-transition: all ease 0.5s;
                             -o-transition: all ease 0.5s;
                                transition: all ease 0.5s;
                    }
                    .focus_row .form_label{
                        font-size: 12px;
                        top: -22px;
                        -webkit-transition: all ease 0.1s;
                           -moz-transition: all ease 0.1s;
                            -ms-transition: all ease 0.1s;
                             -o-transition: all ease 0.1s;
                                transition: all ease 0.1s;
                    }
                    .form_input{
                        width: 100%;
                        height: 36px;
                        border-bottom: 2px solid #e6e7e8;
                        background-color: transparent;
                        position: relative;
                        z-index: 2;
                        color: #808285;
                        font-size: 16px;
                        line-height: 36px;
                    }

            .footer_logo{
                text-align: center;
            }
    .contact_form_box_inner {
        display: table;
        width: 100%;
        table-layout: fixed;
        height: 100%;
    }
    .contact_form_box_inner .d_tc {
        display: table-cell;
        vertical-align: middle;
    }
    /* [data-label~="formSection"] #contact_form_box {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        -webkit-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        transition-delay: 0.5s;
    } */
    /* #contact_form_box {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        opacity: 0;
        visibility: hidden;
    } */

/* - - - - - - - - - -/ end of form - - - - - - - - - - */

/*  <!-- 6. FOOTER 
============================================ --> */


    #footer {
        
    }


/*  <!-- 7. EASE RESPONSIVE TABS 
============================================ --> */

    h2.resp-accordion {
        display: none;
    }
    .resp-tab-content {
        display: none;
    }
    .resp-content-active, 
    .resp-accordion-active {
        display: block;
    }
    .resp-easy-accordion  h2.resp-accordion {
        display: block;
    }
    .resp-tab-content-active {
        display: block;
    }
   
    @media only screen and (max-width: 767px) {
        ul.resp-tabs-list {
            display: none;
        }
        h2.resp-accordion {
            display: block;
        }
        .resp-accordion-closed {
            /* display:none !important; */
        }
    }


/*  <!-- 8. Animate 
============================================ --> */

  .animate_el{
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .tr_top{
    -webkit-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
  }
  .tr_bottom{
    -webkit-transform: translate(0, 40px);
    -ms-transform: translate(0, 40px);
    -o-transform: translate(0, 40px);
    transform: translate(0, 40px);
  }
  .tr_bottom2{
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  .tr_left{
    -webkit-transform: translate(-40px, 0);
    -ms-transform: translate(-40px, 0);
    -o-transform: translate(-40px, 0);
    transform: translate(-40px, 0);
  }
  .tr_right{
    -webkit-transform: translate(40px, 0);
    -ms-transform: translate(40px, 0);
    -o-transform: translate(40px, 0);
    transform: translate(40px, 0);
  }

  .section_slider .slide.active .animate_el,
  .section_form_box.active .animate_el,
  .main_menu_box.open .animate_el,
  .touch_gallery2 .touch_slide.swiper-slide-active .animate_el{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .delay_01{
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  .delay_02{
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .delay_1{
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  .delay_2{
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }

  .delay_3{
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }

  .delay_4{
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }

  .delay_5{
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
  }

  .delay_6{
    -webkit-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s;
  }

  .delay_7{
    -webkit-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    transition-delay: 0.9s;
  }

  .delay_10{
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
  }
p:not(:last-child){margin-bottom:20px}
.mb0{ margin-bottom:0px;} 
.mb33{ margin-bottom:33px;}
.mb23{ margin-bottom:23px;}
.mb35{ margin-bottom:35px;}
.mt5{ margin-top:5px;}